{{> head }}
    
    {{> navbar }}

    <div class="row">
        
        <div class="col-8">
            <h1>Demo</h1>
            <p>
                Aplicación de demo del curso de node.js
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/mirage-message-sent.png" class="img-thumbnail">
        </div>

    </div>

{{> footer }}